In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("decisiontree.csv")
df.head()

     comp                 jobs    degrees  salary_than_100k
0  google      sales executive  bachelors                 0
1  google      sales executive    masters                 0
2  google     business manager  bachelors                 1
3  google     business manager    masters                 1
4  google  computer programmer  bachelors                 0

In [3]:
inputs=df.drop("salary_than_100k",axis='columns')  
target=df['salary_than_100k']

In [4]:
# Now since the ML algorithm doesnt understand words but numbers we do the following thing

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le_comp=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [7]:
inputs['company_n']= le_comp.fit_transform(inputs['comp'])
inputs['job_n']= le_comp.fit_transform(inputs['jobs'])
inputs['degree_n']= le_comp.fit_transform(inputs['degrees'])
inputs.head()

     comp                 jobs    degrees  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [8]:
new=inputs.drop(['comp','jobs','degrees'],axis='columns')
new.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [9]:
# Now we train our model

In [10]:
from sklearn import tree

In [11]:
model=tree.DecisionTreeClassifier()

In [12]:
model.fit(new,target)

DecisionTreeClassifier()

In [13]:
model.predict([[2,2,1]])

array([0], dtype=int64)

In [14]:
# Here the ML project terminates

In [15]:
model.score()

TypeError: score() missing 2 required positional arguments: 'X' and 'y'