In [16]:
import pandas as pd
from sklearn import linear_model

In [17]:
df=pd.read_csv("linearmulti.csv")
#THIS IS JUST DATA PREPARATION OR PREPROCESSING

In [18]:
df

   age  length  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40     NaN     110    60000
4   45  157.48      85    70000

In [20]:
mean_height=161.5

In [23]:
df.length.fillna(mean_height,inplace=True)

In [24]:
df

   age  length  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40  161.50     110    60000
4   45  157.48      85    70000

In [25]:
# NOW COMES THE PART OF MACHINE LEARNING

In [26]:
reg=linear_model.LinearRegression()

In [29]:
reg.fit(df[['age','length','weight']],df['premium'])

LinearRegression()

In [31]:
reg.predict([[42,158,100]])

array([64383.10061885])