In [1]:
import pandas as pd
import numpy as np

In [9]:
cf=pd.read_csv('iris.csv')
cf.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [10]:
cf['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [12]:
new=cf.replace(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'],[1,2,3])
new.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        1

In [13]:
new['Species'].unique()

array([1, 2, 3], dtype=int64)

In [15]:
X=new[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
Y=new['Species']

In [16]:
from sklearn.model_selection import train_test_split

In [31]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [32]:
len(X_train)

105

In [41]:
X_train.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
111            6.4           2.7            5.3           1.9
46             5.1           3.8            1.6           0.2
47             4.6           3.2            1.4           0.2
145            6.7           3.0            5.2           2.3
84             5.4           3.0            4.5           1.5

In [33]:
len(X_test)

45

In [42]:
Y_test.head()

146    3
61     2
45     1
90     2
133    3
Name: Species, dtype: int64

In [34]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
clf=RandomForestClassifier(n_estimators=100,criterion='gini')

In [36]:
clf.fit(X_train,Y_train)

RandomForestClassifier()

In [39]:
clf.score(X_test,Y_test)

0.9333333333333333

In [44]:
clf.predict([[3,3,2,2]])

array([1], dtype=int64)