In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('firstml.csv')
df

   Age  Premium
0   25    18000
1   30    32000
2   35    42000
3   40    47000
4   45    55000

In [4]:
x=df['Age']
y=df['Premium']

In [5]:
x

0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [6]:
y

0    18000
1    32000
2    42000
3    47000
4    55000
Name: Premium, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [12]:
x_train,y_train

(0    25
 2    35
 3    40
 4    45
 Name: Age, dtype: int64,
 0    18000
 2    42000
 3    47000
 4    55000
 Name: Premium, dtype: int64)